/* Main Carousel Container */
.CarouselContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
}

.toggleBtnPrev {
  width: 0;
  height: 0;
  border-top: 1em solid transparent;
  border-right: 2em solid black;
  border-bottom: 1em solid transparent;
}

.toggleBtnNext {
  width: 0;
  height: 0;
  border-top: 1em solid transparent;
  border-left: 2em solid black;
  border-bottom: 1em solid transparent;
}

.toggleBtnPrev,
.toggleBtnNext {
  transition: transform 500ms ease;
}

.toggleBtnPrev:hover,
.toggleBtnNext:hover {
  cursor: pointer;
  transform: scale(1.4);
}

/* Container with 5 cards */
.CardContainer {
  position: relative;
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  overflow: hidden;
}

/* Css for each Card */
.Card {
  width: 100%;
  height: 100%;
  position: relative;
  word-wrap: break-word;
  overflow: hidden;
  grid-column: 3;
  grid-row: 1;
  transform: translateX(0%);
  transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

/*CSS based on current possition of Card for animation*/
.Card.active {
  opacity: 1;
  z-index: 3;
  transition-duration: 1s;
  transform: translateX(0%);
}

.Card.prevImg1 {
  transform: translateX(-60%) scale(0.6);
  z-index: 2;
  opacity: 0.95;
}

.Card.prevImg2 {
  transform: translateX(-90%) scale(0.4);
  z-index: 1;
  opacity: 0.8;
}

.Card.prevImg3 {
  transform: translateX(90%) scale(0.4);
  z-index: 1;
  opacity: 0.8;
}

.Card.prevImg4 {
  transform: translateX(60%) scale(0.6);
  z-index: 2;
  opacity: 0.95;
}

.Card.nextImg1 {
  transform: translateX(60%) scale(0.6);
  z-index: 2;
  opacity: 0.95;
}

.Card.nextImg2 {
  transform: translateX(90%) scale(0.4);
  z-index: 1;
  opacity: 0.8;
}

.Card.nextImg3 {
  transform: translateX(-90%) scale(0.4);
  z-index: 1;
  opacity: 0.95;
}

.Card.nextImg4 {
  transform: translateX(-60%) scale(0.6);
  z-index: 2;
  opacity: 0.95;
}
