body {
  margin: 0;
}

.App {
  padding: 0;
  margin: 0;
  background-color: #222831;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App > h1 {
  color: #eeeeee;
}

.App > h2 {
  color: #d65a31;
}
